body {
  background-color: #aaa;
}

#root {
  display: flex;
  min-height: 76vh;
  align-items: center;
  justify-content: center;
}

#drum-machine {
  width: 480px;
  padding: 2rem;
  background-color: #222;
  color: white;
  border-radius: 10px;
  border: 3px solid #F7C539;
  position: relative;
}

p {
  position: absolute;
  right: 20px;
  top: 0;
  
  
}

.drum-pads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.drum-pad {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  padding: 0.5rem;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 1px rgba(256, 256, 256, 0.3);
  background: '#E03E3E'
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.controls .power-bank {
  display: flex;
  flex-direction: column;
}

.controls .power-bank .bank-label {
  margin-top: 1rem;
}

.controls .volume-controls {
  display: flex;
  flex-direction: column;
}

#volume {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 3px;
  background-color: #666;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #E03E3E;
  cursor: pointer;
}

#volume::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #E03E3E;
  cursor: pointer;
}

label{
  margin-bottom: 0.5rem;
}

input[type=checkbox] {
  font-size: 30px;
  appearance: none;
  width: 80px;
  height: 30px;
  background-color: #ddd;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: 0.2s all ease-in-out;
}

input[type=checkbox]:checked {
  background-color: #E03E3E;
}

input[type=checkbox]::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px black;
  transform: scale(0.7);
  transition: 0.2s all ease-in-out;
}

input[type=checkbox]:checked::after {
  left: calc(100% - 30px);
}

#bank {
  outline: none;
}

#display {
  display: flex;
  width: 8rem;
  height: 4rem;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  color: black;
  
  background: rgba(214,214,214,1);
  background: -moz-linear-gradient(-45deg, rgba(214,214,214,1) 0%, rgba(171,171,171,1) 24%, rgba(207,207,207,1) 49%, rgba(133,133,133,1) 74%, rgba(156,156,156,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(214,214,214,1)), color-stop(24%, rgba(171,171,171,1)), color-stop(49%, rgba(207,207,207,1)), color-stop(74%, rgba(133,133,133,1)), color-stop(100%, rgba(156,156,156,1)));
  background: -webkit-linear-gradient(-45deg, rgba(214,214,214,1) 0%, rgba(171,171,171,1) 24%, rgba(207,207,207,1) 49%, rgba(133,133,133,1) 74%, rgba(156,156,156,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(214,214,214,1) 0%, rgba(171,171,171,1) 24%, rgba(207,207,207,1) 49%, rgba(133,133,133,1) 74%, rgba(156,156,156,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(214,214,214,1) 0%, rgba(171,171,171,1) 24%, rgba(207,207,207,1) 49%, rgba(133,133,133,1) 74%, rgba(156,156,156,1) 100%);
  background: linear-gradient(135deg, rgba(214,214,214,1) 0%, rgba(171,171,171,1) 24%, rgba(207,207,207,1) 49%, rgba(133,133,133,1) 74%, rgba(156,156,156,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#9c9c9c', GradientType=1 );
}